#character_list{
    width: 90%;
    margin-left: 5%;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    padding-bottom: 75px;
}

.character_card{
    width: 25%;
    background-color: #d6955b;
    color: #ecf8f6;
    padding: 10px;
    border-radius: 20px;
    display: flex;
}

.character_card h1{
    font-size: 13pt;
    margin-top: 10px;
}

.character_card img{
    width: 30%;
    border-radius: 100px;
    margin-right: 5%;
    border: solid 3px #ecf8f6;
}